 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700&display=swap');
 body {
 font-family: "Montserrat", sans-serif;
 text-align: center;
}
.contenuto {
    
    margin: 0 auto;
}
.conteiner {
   margin:32%;
   margin-top: auto;
}
#logo {
    width:5%;
    
}
Header > div > p {
    color: green;
    background-color: peachpuff;
    }
#foto {
    border-radius: 5%;
    width: 70%;
}
#author {
    color: grey;
}
#featured {
color: orangered;
text-align: start;
border-left: 2px solid rgb(216, 137, 68);
background-color: peachpuff;
}
#ingredienti-ricetta {
    text-align: start;
}
footer {
    text-align: start;
}
h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 255, 255, 0.164);
}