@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}
.intro {
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
}
#linea-gialla {
    color: yellow;    
}
.ingredienti-ricetta {
    display: flex;
    flex-direction: column;
}
h6 {
    text-align: center;
    color: green;
}
h6 > b {
    color: darkgreen;
}
h1 {
    text-align: center;
}
#focaccia {
    display: flex;
    justify-content: center;
    
}
.descrizione {
    display: flex;
    justify-content: center;
}
#logo {
    display: flex;
    justify-content: center;
    margin: auto;
}
#credits {
   color: grey;
}
.featured {
    display: flex;
    justify-content: center;
    color: orangered;
}
#focaccia2 {
    border-radius: 5%;
}